# InfinityFree FTP Configuration — POS-DW
# Domain: pos-dw.site.je (Akun: if0_39773534)
FTP_HOST=ftpupload.net
FTP_PORT=21
FTP_USER=if0_39773534
FTP_PASS=vmPEk3XcKOsZQi
REMOTE_DIR=/home/vol1_6/infinityfree.com/if0_39773534/pos-dw.site.je
